<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style type="text/css">
    .center {
        margin: 0 auto;
        margin-left: 20cm;
    }
    img {
        width:258px;
        height:250px;
        margin-left: 0cm;
        }
    .center h1{
        margin-left: 1cm;
    }
    </style>
</head>
<body>
    <div class="center">
        <h1>Hello {{username}}</h1>
        <img src="/static/timg.jpe ">
        <br>
        <a class="pure-button pure-button-primary" href="/user/register/view">Register</a>
        <a class="pure-button pure-button-primary" href="/user/login/view">Login</a>
        <a class="pure-button pure-button-primary" href="/weibo/index">Weibo</a>

    </div>
    <link rel="stylesheet" href="/static/pure-min.css">
</body>
</html>
